@model CinemaApp.WebUI.Models.SelectionViewModel


@{
    ViewBag.Title = "selectionOverview";

    var mychairs = "";

    foreach (int i in Model.chairs)
    {
        if (mychairs != "")
        {
            mychairs = mychairs += " " + i.ToString();
        }
        else
        {
            mychairs = i.ToString();
        }
    }

    ViewBag.givenChairs = mychairs;
}

<div class="container jumbotron">
    <div style="margin:15px">
        <div class="row">
            <div class="row" style="margin-bottom:15px">
                <div class="col-md-12" style="text-align:center; background-color:#FFF; font:bold;">
                    <h2>BESTELLEN &amp; RESERVEREN</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li>Kaartjes selecteren</li>
                        <li>Stoel selecteren</li>
                        <li class="active">Bevestigen</li>
                        <li>Afronden</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img class="image-center" src="~/Content/Images/@Model.schedule.movie.ImageData">
                </div>
                <div class="col-md-9">
                    <div class="movie-data">
                        <h3>@Model.schedule.movie.Name</h3><br />
                        <p>@Model.schedule.Date.ToString("dd-mm-yyyy HH:mm")</p>
                        <p>Zaal @Model.schedule.hall.Id</p> <br />

                        @if (@Model.schedule.hall.WheelchairAccesibility == true)
            {
                            <div class="wheelchairaccesibility">
                                <p><i class="fa fa-wheelchair"></i><em> Deze zaal is rolstoelvriendelijk</em></p> <br />
                            </div>
                        }
                        <h4>Aantal kaartjes: <span style="color:#FFF">@Model.totalTickets</span></h4>
                        <h4>Totaal prijs: <span style="color:#FFF">€</span> <span style="color:#FFF">@Model.totalPrice.ToString("00.00")</span></h4>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-7">
                    <button class="btn btn btn-primary">Vorige</button>
                </div>
                <div class="col-md-5">
                    <button class="btn btn btn-primary" onclick="sendReservation()" style="margin-right:5px">Reserveer nu</button> <span style="color:#FFF; font-size:1.5em">OF</span>
                    <button class="btn btn btn-primary" onclick="sendOrder()" style="margin-left:5px">Betaal direct</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript">

    var scheduleID = parseInt(@Model.schedule.Id);
    var givenRow = @Model.row;
    var bagchairs = "@ViewBag.givenChairs";
    var totalTickets = @Model.totalTickets;
    var countRegular = @Model.regularQuantity;
    var countChild = @Model.childQuantity;
    var countStudent = @Model.studentQuantity;
    var countSenior = @Model.seniorQuantity;
    var countPopcorn = @Model.popcornQuantity;
    var countLadies = @Model.ladiesQuantity;
    var totalPrice = @Model.totalPrice;

    function sendOrder(){

        var full = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + '/Payment/PaymentChoice';
        $('<form action="' + full + '" method="POST">' +
        '<input type="hidden" name="scheduleID" value="' + scheduleID + '">' +
        '<input type="hidden" name="totalTickets" value="' + totalTickets + '">' +
        '<input type="hidden" name="row" value="' + givenRow + '">' +
        '<input type="hidden" name="chairs" value="' + bagchairs + '">' +
        '<input type="hidden" name="totalRegular" value="' + countRegular + '">' +
        '<input type="hidden" name="totalChild" value="' + countChild + '">' +
        '<input type="hidden" name="totalStudent" value="' + countStudent + '">' +
        '<input type="hidden" name="totalSenior" value="' + countSenior + '">' +
        '<input type="hidden" name="totalPopcorn" value="' + countPopcorn + '">' +
        '<input type="hidden" name="totalLadies" value="' + countLadies + '">' +
        '<input type="hidden" name="totalPrice" value="' + totalPrice + '">' +
        '</form>').submit();


    }

    function sendReservation(){

        var full = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + '/Payment/Reservation';
        $('<form action="' + full + '" method="POST">' +
        '<input type="hidden" name="scheduleID" value="' + scheduleID + '">' +
        '<input type="hidden" name="totalTickets" value="' + totalTickets + '">' +
        '<input type="hidden" name="row" value="' + givenRow + '">' +
        '<input type="hidden" name="chairs" value="' + bagchairs + '">' +
        '<input type="hidden" name="totalRegular" value="' + countRegular + '">' +
        '<input type="hidden" name="totalChild" value="' + countChild + '">' +
        '<input type="hidden" name="totalStudent" value="' + countStudent + '">' +
        '<input type="hidden" name="totalSenior" value="' + countSenior + '">' +
        '<input type="hidden" name="totalPopcorn" value="' + countPopcorn + '">' +
        '<input type="hidden" name="totalLadies" value="' + countLadies + '">' +
        '<input type="hidden" name="totalPrice" value="' + totalPrice + '">' +
        '</form>').submit();
    }
</script>



